In [ ]:
# panda is like an excel, is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool

In [2]:
import pandas as pd

In [3]:
file_name = "arquivos/binary.csv";

In [4]:
pf = pd.read_csv(file_name);

In [6]:
# head -> imprime apenas as primeiras linhas do arquivo
pf.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  880  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [7]:
file2 = "arquivos/salarios.csv";

In [8]:
pf2 = pd.read_csv(file2);

In [9]:
pf2.head()

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$88967.00
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$80778.00
2,"AARON, KARINA",POLICE OFFICER,POLICE,$80778.00
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$84780.00
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$104736.00