# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.7.6

## Listas

In [2]:
# Criando uma lista
listadomercado = ["ovos, farinha, leite, maças"]

In [3]:
# Imprimindo a lista
print(listadomercado)

['ovos, farinha, leite, maças']

In [4]:
# Criando outra lista
listadomercado2 = ["ovos", "farinha", "leite", "maças"]

In [5]:
# Imprimindo a lista
print(listadomercado2)

['ovos', 'farinha', 'leite', 'maças']

In [6]:
# Criando lista
lista3 = [12, 100, "Universidade"]

In [7]:
# Imprimindo
print(lista3)

[12, 100, 'Universidade']

In [8]:
lista3 = [12, 100, "Universidade"]

In [9]:
# Atribuindo cada valor da lista a uma variável.
item1 = lista3[0]
item2 = lista3[1]
item3 = lista3[2]

In [10]:
# Imprimindo as variáveis
print(item1, item2, item3)

12 100 Universidade

### Atualizando um item da lista

In [11]:
# Imprimindo um item da lista
listadomercado2[2]

'leite'

In [12]:
# Atualizando um item da lista
listadomercado2[2] = "chocolate"

In [13]:
# Imprimindo lista alterada
listadomercado2

['ovos', 'farinha', 'chocolate', 'maças']

### Deletando um item da lista

In [14]:
# Out of index. Não é possível deletar um item que não existe na lista
del listadomercado2[4]

IndexError: list assignment index out of range

In [16]:
# Deletando um item específico da lista
del listadomercado2[3]

In [17]:
# Imprimindo o item com a lista alterada
listadomercado2

['ovos', 'farinha', 'chocolate']

### Listas de listas (Listas aninhadas)
Listas de listas são matrizes em Python

In [18]:
# Criando uma lista de listas
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [19]:
# Imprimindo a lista
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [20]:
# Atribuindo um item da lista a uma variável
a = listas[0]

In [21]:
a

[1, 2, 3]

In [22]:
b = a[0]

In [23]:
b

1

In [24]:
list1 = listas[1]

In [25]:
list1

[10, 15, 14]

In [26]:
valor_1_0 = list1[0]

In [27]:
valor_1_0

10

In [28]:
valor_1_2 = list1[2]

In [29]:
valor_1_2

14

In [30]:
list2 = listas[2]

In [31]:
list2

[10.1, 8.7, 2.3]

In [32]:
valor_2_0 = list2[0]

In [33]:
valor_2_0

10.1

### Operações com listas

In [34]:
# Criando uma lista aninhada (lista de listas)
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [35]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [36]:
# Atribuindo à variável a, o primeiro valor da primeira lista
a = listas[0][0]

In [37]:
a

1

In [38]:
b = listas[1][2]

In [39]:
b

14

In [40]:
c = listas[0][2] + 10

In [41]:
c

13

In [42]:
d = 10

In [43]:
d

10

In [44]:
e = d * listas[2][0]

In [45]:
e

101.0

### Concatenando listas

In [46]:
lista_s1 = [34, 32, 56]

In [47]:
lista_s1

[34, 32, 56]

In [48]:
lista_s2 = [21, 90, 51]

In [49]:
lista_s2

[21, 90, 51]

In [50]:
# Concatenando listas
lista_total = lista_s1 + lista_s2

In [51]:
lista_total

[34, 32, 56, 21, 90, 51]

## Operador in

In [52]:
# Criando uma lista
lista_teste_op = [100, 2, -5, 3.4]

In [53]:
# Verificando se o valor 10 pertence a lista
print(10 in lista_teste_op)

False

In [54]:
# Verificando se o valor 100 pertence a lista
print(100 in lista_teste_op)

True

## Funções Built-in

In [55]:
# Função len() retorna o comprimento da lista
len(lista_teste_op)

4

In [56]:
# Função max() retorna o valor máximo da lista
max(lista_teste_op)

100

In [57]:
# Função min() retorna o valor mínimo da lista
min(lista_teste_op)

-5

In [58]:
# Criando uma lista
listadomercado2 = ["ovos", "farinha", "leite", "maças"]

In [59]:
# Adicionando um item à lista
listadomercado2.append("carne")

In [60]:
listadomercado2

['ovos', 'farinha', 'leite', 'maças', 'carne']

In [61]:
listadomercado2.append("carne")

In [62]:
listadomercado2

['ovos', 'farinha', 'leite', 'maças', 'carne', 'carne']

In [63]:
listadomercado2.count("carne")

2

In [64]:
# Criando uma lista vazia
a = []

In [65]:
print(a)

[]

In [66]:
type(a)

list

In [67]:
a.append(10)

In [68]:
a

[10]

In [69]:
a.append(50)

In [70]:
a

[10, 50]

In [71]:
old_list = [1,2,5,10]

In [72]:
new_list = []

In [73]:
# Copiando os itens de uma lista para outra
for item in old_list:
    new_list.append(item)

In [74]:
new_list

[1, 2, 5, 10]

In [75]:
c = [20,30]

In [76]:
c.append(60)

In [77]:
c.append(70)

In [78]:
c

[20, 30, 60, 70]

In [79]:
c.count(20)

1

In [80]:
cidades = ['Recife', 'Manaus', 'Salvador']
cidades.extend(['Fortaleza', 'Palmas'])
print (cidades)

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [81]:
cidades.index('Salvador')

2

Lembre-se: em Python o índice começa por 0!

In [82]:
cidades.index('Rio de Janeiro')

ValueError: 'Rio de Janeiro' is not in list

In [83]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [84]:
cidades.insert(2, 110)

In [85]:
cidades

['Recife', 'Manaus', 110, 'Salvador', 'Fortaleza', 'Palmas']

In [86]:
# Remove um item da lista
cidades.remove(110)

In [87]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [88]:
# Reverte a lista
cidades.reverse()

In [89]:
# Imprime a lista
cidades

['Palmas', 'Fortaleza', 'Salvador', 'Manaus', 'Recife']

In [90]:
x = [3, 4, 2, 1]

In [91]:
x

[3, 4, 2, 1]

In [92]:
# Ordena a lista
x.sort()

In [93]:
x

[1, 2, 3, 4]

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>