In [41]:
import numpy as np
import pandas as pd

In [43]:
from sklearn.model_selection import train_test_split # this model is for split a dataset into train and test
from sklearn.tree import DecisionTreeRegressor # we also have DecisionTreeClassifier for classification problem
# from sklearn.tree import plot_tree

In [44]:
dataset = pd.read_csv('sample_data/housing.csv') # the idea is to predict the value of the houses for sale
dataset = dataset.fillna(0)

In [45]:
dataset.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [46]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null float64
total_rooms           20640 non-null float64
total_bedrooms        20640 non-null float64
population            20640 non-null float64
households            20640 non-null float64
median_income         20640 non-null float64
median_house_value    20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [47]:
# this is going to eliminate the colunm median_house_value, and axis = 1, specifies that it is the colunm
# if it was axis=0, it would be the row. we need to drop this because that's the y value we want to predict
x_data = dataset.drop(["median_house_value", "ocean_proximity"], axis=1) 

# now, the y value we want to predict stays in the y variable
y_data = dataset["median_house_value"]

# Split arrays or matrices into random train and test subsets
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.5, random_state=0)

In [48]:
# need to import the decision tree
dt = DecisionTreeRegressor()

In [49]:
dt.fit(x_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [50]:
# import metrics to evaluate the regressor
from sklearn.metrics import mean_squared_error

In [51]:
prediction = dt.predict(x_test)

In [52]:
np.sqrt(mean_squared_error(y_test, prediction)) # do sqrt of the mean_squared_error because is the basic for regression

71723.27443232681